# Node
node_modules/
npm-debug.log*
.DS_Store

# Session & Cache
session/
.node-persist/

# Environment
.env
.env.*
*.env

# QR Screenshots (wa-automate)
screenshot_feyz-bot_*.png

# OS Temp
Thumbs.db
